<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test1">
    <test name="FirstPro">
        <classes>
            <class name="Testers.HashClassTest"/>
            <class name="Testers.StringChangeTest"/>
            <class name="Testers.LoginCheckTest"/>
            <class name="Testers.PropertyHandleTest"/>
            <class name="selenium.LoginPageTest"/>
            <class name="selenium.BlockedUserTest"/>
            <class name="selenium.TranslatorPageTest"/>
            <class name="selenium.CustomerCareTest"/>
        </classes>

    </test>
</suite>